

<!-- Footer -->
<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      
      
      
      <div class="col-3 col-6-medium col-12-small">

        <!-- Contact -->
          <section class="widget contact last">
            <h3>Contact Us</h3>
            <ul>
              <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.linkedin.com/in/jugurtao/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
              <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/JugurtaO" class="icon brands fa-github"><span class="label">Github</span></a></li>
            </ul>
            <p>jugurtaourzik@gmail.com<br />
            Grenoble, FR 38000<br />
            07 53 69 35 90</p>
          </section>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="copyright">
          <ul class="menu">
            <li>&copy; Any.do. All rights reserved</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>