<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="container">

    <!-- Logo -->
    <div id="logo">
      <h1><a href="/home">Any.do</a></h1>
      <span>Jugurta OURZIK</span>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li class="current"><a href="/allTasks">New task</a></li>
        <% if (active_user_email) { %>
            <li><a href="/trash">Trash</a></li>
         
        <% } %>
        <li><a href="/about">About us</a></li>
        <li>
          <a href="#">Dropdown</a>
          <ul>
            <% if (!active_user_email) { %>
                <li><a href="/users/signup">Sign up</a></li>
        
        
        
                <%  }else { %>
                <li>
                  <form action="/users/logout" method="post">
                    <button type="submit" class="btn btn-dark px-3 me-2 " style="border: none;" >
                        <i class="fas fa-sign-out-alt"></i>Logout
                    </button>
                  </form>
                </li>
                <li><a href="/users/signout">Signout</a></li>
        
                <% }%>
          </ul>
        </li>

        



      </ul>
    </nav>

  </header>
</div>