<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Any.do </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			  <%- include('./partials/navbar.ejs') %>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<% if (!active_user_email) { %>
									<h2>Hi. This is Any.do.</h2>
								<p>Sign Up now & enjoy planning your success for</p>
								 
							
								<%  }else { %>
									<h2>Hi <%= active_user_nickname.split(" ")[0] %>. This is Any.do.</h2>
								<p> enjoy planning your success for</p>
								<% }%>
									 
								 
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									<% if (!active_user_email) { %>
										<li><a href="/users/login" class="button large icon solid fa-arrow-circle-right"><i class="fas fa-user-check"></i> Login </a></li>
									 
									<% } else { %>
										<li><a href="/allTasks" class="button large icon solid fa-arrow-circle-right"><i class="fa fa-tasks" aria-hidden="true"></i> See my tasks</a></li>

									<% } %>
									<!-- <li><a href="#" class="button alt large icon solid fa-question-circle">More info</a></li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
				 

			
				
				

			
				<%- include('./partials/footer.ejs') %>

			</div>

		<!-- Scripts -->

			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>